<h3 class="title">Quick Facts</h3>

<div class="section-header">
  <span>Status</span>
  <mat-icon color="primary">launch</mat-icon>
</div>

<div class="section-content status">
  <mat-icon>account_box</mat-icon>
  <ul>
    <li>ID: SH051545</li>
    <li>Tier: Gold</li>
    <li>Pts: 125,024</li>
  </ul>
</div>

<div class="section-header">
  <span>Top 3 Facts</span>
  <mat-icon color="primary">launch</mat-icon>
</div>

<div class="section-content top-3-facts">
  <mat-icon>info</mat-icon>
  <ul>
    <li>Suite Room</li>
    <li>King Bed</li>
    <li>Highest Floor</li>
  </ul>
</div>

<div class="section-header">
  <span>RFM Score</span>
  <mat-icon color="primary">launch</mat-icon>
</div>

<div class="section-content rfm-score">
  <span class="spinner-value">80%</span>
  <mat-progress-spinner value="80" diameter="30" strokeWidth="4"></mat-progress-spinner>
  <span>R: 70%</span>
  <span>F: 50%</span>
  <span>M: 90%</span>
</div>

<div class="section-header">
  <span>Other Facts:</span>
  <mat-icon color="primary">launch</mat-icon>
</div>

<div class="section-content other-facts">
  <table>
    <tbody>
      <tr>
        <td><mat-icon color="primary">calendar_today</mat-icon></td>
        <td>Total Stays:</td>
        <td>24</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">brightness_2</mat-icon></td>
        <td>Nights:</td>
        <td>32</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">timelapse</mat-icon></td>
        <td>Average Stay:</td>
        <td>1.33 nights</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">schedule</mat-icon></td>
        <td>Last Visit:</td>
        <td>2018-08-15</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">attach_money</mat-icon></td>
        <td>Lifetime Value:</td>
        <td>$3084.29</td>
      </tr>
    </tbody>
  </table>
</div>
