:host {
  display: block;
  width: 234px;
  margin-left: 16px;
  transform: translateY(-70px);
  background: white;
  padding: 8px;
  font-size: 14px;
}

.title {
  font-weight: normal;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: 4px;
}

.section-content {
  margin: 8px 0 16px;
}

.status {
  display: flex;

  mat-icon {
    color: #d1ab40;
  }

  ul {
    margin: 4px 0 0 8px;
    padding: 0;
    list-style: none;

    li:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}

.top-3-facts {
  display: flex;

  ul {
    margin: 4px 0 0 8px;
    padding: 0;
    list-style: none;

    li:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}

.rfm-score {
  position: relative;
  display: flex;
  align-items: center;

  .spinner-value {
    position: absolute;
    font-size: 8px;
    top: 11px;
    left: 8px;
  }

  span:not(:first-child) {
    margin-left: 16px;
  }
}

.other-facts {
  tr {
    td {
      padding-bottom: 4px;

      &:nth-child(2) {
        padding-left: 8px;
      }

      &:nth-child(3) {
        padding-left: 8px;
        font-weight: bold;
      }
    }
  }

  mat-icon {
    color: gray;
  }
}
